/* default styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    transition: all .3s linear;
}

html {
    overflow-x: hidden;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    padding: 0%;
    width: 100%;
}

/* Navigation bar */
nav {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

.navcontent {
    flex-basis: 50%;
    padding-top: 1%;
    display: flex;
    list-style: none;
    color: white;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    font-weight: 700;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1%;
}
nav a:hover {
    text-decoration: none;
    color: white;
    padding: 10%;
    border-radius: 8px;
    background: linear-gradient(135deg, #3434a34b 0%, #0000002f 100%);
  }
.logo {
    flex-basis: 25%;
    display: flex;
}
.in{
    display: flex;
    font-size: 2rem;
}
/* body */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* about us  */
.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.about-us p{
   text-align: justify;
}

.about-us h1{
    margin-top: 5rem;
}
.img-one{
    filter: drop-shadow(-2px 15px 15px rgb(255, 255, 255));
    box-shadow: 0px 0px 10px black;
    background-size: cover;
}
.img-two{
    filter: drop-shadow(-2px 15px 15px rgba(0, 0, 0, 0.45));
    background-size: cover;
    box-shadow: 0px 0px 10px black;
}
.newsletter {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    align-self: baseline;
    justify-self: baseline;
    background: rgba(112, 112, 112, 0.075);
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    border-radius: 0%;
    margin-bottom: 2rem;
}
.newsletter h5{
    color: #3434A3;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.newbtn {
    background-color: black;
    color: white;
    outline: 2px solid;
    letter-spacing: .2rem;
}
.newsletter form{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

/* buy pets  */
.buy-pets{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-pets h1{
    margin-top: 5rem;
}
.padd{
    padding: 3%;
}
.board{
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    border-radius: 10px;
}
.btn-cust2 {
    background-color: #3434A3;
    padding: .5% 4%;
    border-radius: 2px;
    color: white;
    font-weight: 900;
}
/* footer */
footer {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0% 1%;
    border-top: 2px solid #3434A3;
}

.ftext {
    font-family: Robotoregular;
    font-size: 22px;
    padding: 0%;
}

.pett {
    font-family: Robotobold;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 0%;
}

.sitet {
    background: linear-gradient(135deg, #3434a3 55%, #000000 45%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socialicons {
    padding: 0%;
    align-items: center;
    display: flex;
    flex-basis: 25%;
    justify-content: space-evenly;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: black;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-google {
    color: white;
}

.fa-linkedin {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa:hover {
    overflow: hidden;
    color: black;
    cursor: pointer;
    background: linear-gradient(135deg, #3434A3 0%, #4C83FF 100%);
}
